body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 260px;
    background: red;

    overflow: hidden;
    transition: transform 0.35s ease, 0.35s ease;
}

.card:hover {
    transform: scale(1.05);
   
}

.img-box {
    overflow: hidden;
}

.img-box img {
    width: 100%;
    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.12);
}

h2 {
    margin-top: 12px;
    font-size: 20px;

}

.price {
    margin-top: 5px;
    font-size: 22px;
    color:blue;
    font-weight: 600;
}body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.card {
    width: 260px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.card:hover {
    transform: translateY(-12px) scale(1.05);
}

.img-box {
    overflow: hidden;
}

.img-box img {
    width: 100%;
 
      transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.12);
}

h3 {
    margin-top: 12px;
    font-size: 20px;
}

.price {
    margin-top: 5px;
    font-size: 22px;
    color: #27ae60;
    font-weight: 600;
}
